DJANGO_SECRET_KEY=dev-secret-change-me-to-a-long-random-string
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=device_management
POSTGRES_USER=device
POSTGRES_PASSWORD=device
POSTGRES_HOST=localhost
POSTGRES_PORT=5435
DJANGO_ADMIN_EMAIL=admin@example.com
DJANGO_ADMIN_PASSWORD=admin12345
DJANGO_ADMIN_NAME=System Admin
CORS_ALLOWED_ORIGINS=http://localhost:3434
API_URL=http://127.0.0.1:8484
